#features{
    position: relative;
}
.features{
    padding-top: 210px;
    background-color: $bg-color;
    @media only screen and (max-width: 991px){
        padding-top: 100px;
    }
    @media only screen and (max-width: 768px){
        padding-top: 80px;
    }
    @media only screen and (max-width: 600px){
        padding-top: 60px;
    }
    @media only screen and (max-width: 400px){
        padding-top: 30px;
    }
    &-item{
        background-color: $title-color;
        :hover{
            background-color: $icon-color;
            transition: 0.5s ease-in-out;
        }
        @media only screen and (max-width: 991px){
            margin-top: 60px;
        }
        &-box{
            &-icon{
                color: $icon-color;
                font-size: 50px;
                width: 120px;
                height: 90px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: $title-color;
                box-shadow: $dark;
                margin-top: -50px;
                &:hover{
                    transition: 0.5s ease-in-out;
                    box-shadow: 0 2px 20px $dark;
                }
            }
        }
        &-main{
            &-title{
                font-size: 20px;
                padding-top: 30px;
                color: $white;
                // font-family: $title-font;
            }
            &-pera{
                font-size: 16px;
                color: $text-color;
                padding-top: 16px;
                padding: 10px;
                padding-bottom: 40px;
                // font-family: $text-font;
                font-weight: 600;
                :hover{
                    color: whitesmoke !important;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
    // stars area
.features-stars{
    .features-rec1{
        @media only screen and (min-width: 1200px){
            position:absolute;
            top:200px;
            left:1000px;
        }
        @media only screen and (max-width: 1199px){
            position:absolute;
            top:250px;
            left:600px;
        }
        @media only screen and (max-width: 991px){
            position:absolute;
            top:240px;
            left:550px; 
        }
        @media only screen and (max-width: 768px){
            position:absolute;
            top:240px;
            left:400px;
        }
        @media only screen and (max-width: 500px){
            position:absolute;
            top:600px;
            left:250px;
        }
    }
    .features-rec2{
        @media only screen and (min-width: 1200px){
            position:absolute;
            top:200px;
            left:362px;
        }
        @media only screen and (max-width: 1199px){
            position:absolute;
            top:550px;
            left:600px;
        }
        @media only screen and (max-width: 991px){
            position:absolute;
            top:550px;
            left:530px; 
        }
        @media only screen and (max-width: 768px){
            position:absolute;
            top:600px;
            left:400px; 
        }
        @media only screen and (max-width: 500px){
            position:absolute;
            top:600px;
            left:100px;
        }
    }
    
    .features-rec3{
        @media only screen and (min-width: 1200px){
            position:absolute;
            top:490px;
            left:1000px;
        }
        @media only screen and (max-width: 1199px){
            position:absolute;
            top:550px;
            left:600px;
        }
        @media only screen and (max-width: 991px){
            position:absolute;
            top:550px;
            left:530px; 
        }
        @media only screen and (max-width: 768px){
            position:absolute;
            top:600px;
            left:400px; 
        }
        @media only screen and (max-width: 500px){
            position:absolute;
            top:600px;
            left:200px;
        }
    }
    .features-rec4{
        position:absolute;
        top:410px;
        left:230px;
    }
    .features-rec5{
        @media only screen and (min-width: 1200px){
            position:absolute;
            top:500px;
            left:980px;
        }
        @media only screen and (max-width: 1199px){
            position:absolute;
            top:550px;
            left:600px;
        }
        @media only screen and (max-width: 991px){
            position:absolute;
            top:550px;
            left:530px; 
        }
        @media only screen and (max-width: 768px){
            position:absolute;
            top:600px;
            left:400px; 
        }
        @media only screen and (max-width: 500px){
            position:absolute;
            top:600px;
            left:200px;
        }
    }
    .features-rec6{
        position:absolute;
        top:240px;
        left:130px;
    }
}
}
